<div class="tileGame" (click)="ActionTile()" id="{{ TileData.id }}">
  <div *ngIf="!TileData.layers" >
    void {{ TileData.id }}
  </div>
  <div *ngIf="TileData.layers">
    <div *ngIf="TileData.layers.emptySpace">
      {{ TileData.id }}
    </div>
    <div
      *ngIf="TileData.layers.ConnectorBase"
      [ngClass]="['imgTile', 'imgTileConnectorBaseIdle', TileData.classCss]"
    >
      {{ TileData.id }}
    </div>
    <div
      *ngIf="TileData.layers.ConnectorCurve"
      [ngClass]="['imgTile', 'imgTileConnectorCurveIdle', TileData.classCss]"
    >
      {{ TileData.id }}
    </div>
    <div
      *ngIf="TileData.layers.ConnectorStraight"
      [ngClass]="['imgTile', 'imgTileConnectorStraightIdle', TileData.classCss]"
    >
      {{ TileData.id }}
    </div>
    <div
      *ngIf="TileData.layers.ConnectorT"
      [ngClass]="['imgTile', 'imgTileConnectorTIdle', TileData.classCss]"
    >
      {{ TileData.id }}
    </div>
    <div
      *ngIf="TileData.layers.Platform"
      [ngClass]="['imgTile', 'imgTilePlatfomIdle', TileData.classCss]"
    >
      {{ TileData.id }}
    </div>
    <div *ngIf="TileData.layers === null">
      {{ TileData.id }}
    </div>

    <div
      *ngIf="TileData.layers.Reactor"
      [ngClass]="['imgTile', 'imgTileReactorIdle', TileData.classCss]"
    >
      {{ TileData.id }}
    </div>
    <div
      *ngIf="TileData.layers.Weapon01"
      [ngClass]="['imgTile', 'imgTileWeapon01Idle', TileData.classCss]"
    >
      {{ TileData.id }}
    </div>
  </div>

  <!-- <div
    *ngIf="TileData.typeTileGame == _TypeTileGame.CurvedConnector"
    class="imgTile imgTileIdleRecta"
  >
    {{ TileData.typeTileGame }}
  </div> -->
  <div *ngIf="TileData.showDropIsAllowed" class="imgTile showdropIsAllowed">
    <div class="imgTile drop-is-allowed-vertical"></div>
    <div class="imgTile drop-is-allowed-horizontal"></div>
  </div>
  <div
    *ngIf="TileData.showDropIsNotAllowed"
    class="imgTile showDropIsNotAllowed"
  >
    <div class="imgTile drop-is-not-allowed-vertical"></div>
    <div class="imgTile drop-is-not-allowed-horizontal"></div>
  </div>
</div>
