<div class="tileGame" (click)="ActionTile()" id="{{ TileData.id }}">
  <div
    *ngIf="TileData.typeTileGame == _TypeTileGame.emptySpace"
    [ngClass]="['imgTile', TileData.classCss]"
  >
    {{ TileData.classCss }}
  </div>
  <div
    *ngIf="TileData.typeTileGame == _TypeTileGame.Reactor"
    [ngClass]="['imgTile', 'imgTileIdleReactor', TileData.classCss]"
  >
    {{ TileData.classCss }}
  </div>
  <div
    *ngIf="TileData.typeTileGame == _TypeTileGame.StraightConnector"
    [ngClass]="['imgTile', 'imgTileIdleStraight', TileData.classCss]"
  >
    {{ TileData.classCss }}
  </div>
  <div
    *ngIf="TileData.typeTileGame == _TypeTileGame.CurvedConnector"
    [ngClass]="['imgTile', 'imgTileIdleCurved', TileData.classCss]"
  >
    {{ TileData.classCss }}
  </div>
  <div
    *ngIf="TileData.typeTileGame == _TypeTileGame.Cannon"
    [ngClass]="['imgTile', 'imgTileIdleCannon', TileData.classCss]"
  >
    {{ TileData.classCss }}
  </div>

  <!-- <div
    *ngIf="TileData.typeTileGame == _TypeTileGame.CurvedConnector"
    class="imgTile imgTileIdleRecta"
  >
    {{ TileData.typeTileGame }}
  </div> -->
  <div *ngIf="TileData.showDropIsAllowed" class="imgTile showdropIsAllowed">
    <div class="imgTile drop-is-allowed-vertical"></div>
    <div class="imgTile drop-is-allowed-horizontal"></div>
  </div>
  <div
    *ngIf="TileData.showDropIsNotAllowed"
    class="imgTile showDropIsNotAllowed"
  >
    <div class="imgTile drop-is-not-allowed-vertical"></div>
    <div class="imgTile drop-is-not-allowed-horizontal"></div>
  </div>
</div>
