.tileGame {
  position: relative;
  width: 100%;
  height: 100%;
  // width: 100px;
  // min-width: 100px;
  // max-height: 100px;
  // height: 100px;
  // max-width: 100px;
  // min-height: 100px;

  // box-sizing: border-box;

  .imgTile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .rotation0 {
    transform: rotateZ(0deg);
  }
  .rotation90 {
    transform: rotateZ(90deg);
  }
  .rotation180 {
    transform: rotateZ(180deg);
  }
  .rotation270 {
    transform: rotateZ(270deg);
  }

  .dropIsNotAllowed {
    background-color: red;
  }

  .test1 {
    background-color: blue;
  }
  .test2 {
    background-color: yellow;
  }
  .test3 {
    background-color: orange;
  }
  .test4 {
    background-color: green;
  }

  .imgTileIdleReactor {
    background-image: url("../../../../../assets/refactory/reactor.svg");
    animation: playX 1s steps(5) infinite, playY 2s steps(2) infinite;
  }

  .imgTileIdleRecta {
    background-image: url("../../../../../assets/refactory/recta.svg");
    animation: playX 1s steps(5) infinite, playY 2s steps(2) infinite;
  }

  .imgTileOnOver:hover {
    background-image: url("../../../../../assets/refactory/target.svg");
    animation: playX 1s steps(5) infinite, playY 2s steps(2) infinite;
  }

  .imgTileOnDragOver {
    background-image: url("../../../../../assets/refactory/target.svg");
    animation: playX 1s steps(5) infinite, playY 2s steps(2) infinite;
  }

  @keyframes playX {
    from {
      background-position-x: 0px;
    }
    to {
      background-position-x: -500px;
    }
  }
  @keyframes playY {
    from {
      background-position-y: 0px;
    }
    to {
      background-position-y: -200px;
    }
  }
}
