.tileGame {
  position: relative;
  width: 100%;
  height: 100%;
  // width: 100px;
  // min-width: 100px;
  // max-height: 100px;
  // height: 100px;
  // max-width: 100px;
  // min-height: 100px;

  // box-sizing: border-box;

  .imgTile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .rotation0 {
    transform: rotateZ(0deg);
  }
  .rotation90 {
    transform: rotateZ(90deg);
  }
  .rotation180 {
    transform: rotateZ(180deg);
  }
  .rotation270 {
    transform: rotateZ(270deg);
  }

  .showDropIsNotAllowed {
    box-shadow: 0px 0px 15px 5px rgba(255, 0, 0, 0.5);
    .drop-is-not-allowed-vertical {
      transform: rotateZ(45deg);
      border-radius: 25px;
      border: rgba(255, 0, 0, 0.8) dashed 1px;
      box-shadow: 0px 0px 15px 5px rgba(255, 0, 0, 0.5);
      animation: drop-vertical 2s linear infinite;
    }
    .drop-is-not-allowed-horizontal {
      transform: rotateZ(45deg);
      border-radius: 25px;
      border: rgba(255, 0, 0, 0.8) dashed 1px;
      box-shadow: 0px 0px 15px 5px rgba(255, 0, 0, 0.5);
      animation: drop-horizontal 2s linear infinite;
    }
  }
  .showdropIsAllowed {
    box-shadow: 0px 0px 15px 5px rgba(0, 255, 0, 0.5);
    .drop-is-allowed-vertical {
      border: rgba(0, 255, 0, 0.8) dashed 1px;
      box-shadow: 0px 0px 15px 5px rgba(0, 255, 0, 0.5);
      animation: drop-vertical 2s linear infinite;
    }
    .drop-is-allowed-horizontal {
      border: rgba(0, 255, 0, 0.8) dashed 1px;
      box-shadow: 0px 0px 15px 5px rgba(0, 255, 0, 0.5);
      animation: drop-horizontal 2s linear infinite;
    }
  }

  .imgTileIdleAnimation {
    animation: playX 1s steps(5) infinite, playY 2s steps(2) infinite;
  }

  .imgTileIdleReactor {
    background-image: url("../../../../../assets/refactory/reactor.svg");
  }

  .imgTileIdleStraight {
    background-image: url("../../../../../assets/refactory/StraightConnector.svg");
  }

  .imgTileIdleCurved {
    background-image: url("../../../../../assets/refactory/CurvedConnector.svg");
  }

  .imgTileIdleCannon {
    background-image: url("../../../../../assets/refactory/cannon.svg");
  }

  @keyframes playX {
    from {
      background-position-x: 0px;
    }
    to {
      background-position-x: -500px;
    }
  }
  @keyframes playY {
    from {
      background-position-y: 0px;
    }
    to {
      background-position-y: -200px;
    }
  }

  @keyframes drop-vertical {
    0% {
      width: 100%;
      left: 0px;
    }
    100% {
      width: 0%;
      left: 50px;
    }
  }
  @keyframes drop-horizontal {
    0% {
      height: 100%;
      top: 0px;
    }
    100% {
      height: 0%;
      top: 50px;
    }
  }
}
