.fullScreenWrapper {
  min-width: 100vw;
  min-height: 100vh;

  background-color: rgb(0, 71, 153);
  border: 1px yellow solid;
  box-sizing: border-box;
}
.game-sidenav {
  width: 300px;
  max-width: 80vw;
}

.game-space {
  min-width: 100%;
  min-height: 100%;
  background-color: rgb(222, 247, 199);
  border: 2px red solid;
  box-sizing: border-box;
}
