<mat-sidenav-container class="fullScreenWrapper">
    <mat-sidenav #gameRefactorySidenav class="game-sidenav" fixedInViewport="true" attr.role="navigation" mode="push">
        <app-sidenav></app-sidenav>
        lateral
    </mat-sidenav>
    <mat-sidenav-content class="game-space">
        <div class="game-display">


        </div>
        <div class="game-controls">
            <div class="game-controls-left">
                <app-logo (click)="gameRefactorySidenav.open()"></app-logo>
            </div>
            <div class="game-controls-center">
                <!-- <span *ngIf="stateGame == 0">{{userlogined.displayName}} es tu turno. Te están esperando</span>
                <span *ngIf="stateGame == 1">WAITING. Esperando a los otros jugadores</span> -->
             </div>
             <div class="game-controls-rigth" [@animReadyToSend]='stateButtons'>
                <button mat-raised-button class="btn-send-turn" (click)="resetTurn()">
                  <mat-icon class="mat-24" aria-label="reset turno">undo</mat-icon>
                </button>
                <button mat-raised-button class="btn-send-turn" (click)="sendTurn()">
                  xEnviar turno
                  <mat-icon class="mat-24" aria-label="enviar turno">send</mat-icon>
                </button>
              </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>