
<div *ngIf="!isLoading" class="app-container">
  <header *ngIf="checkIfShowHeaderAndFooter()" class="mat-elevation-z10">
    <app-toolbar></app-toolbar>
  </header>
  <router-outlet class="router-outlet"></router-outlet>
  <footer *ngIf="checkIfShowHeaderAndFooter()">
    <app-footer></app-footer>
  </footer>
</div>

<div *ngIf="isLoading">
  <div id="wrapper-logo">
    <div class="contenedor-center-logo">
      <img class="shadow10" src="../assets/logo/fondoLogo.svg" />
    </div>
    <div class="contenedor-center-logo anim-wait">
      <img src="../assets/logo/letraLogo.svg" />
    </div>
  </div>
</div>