.fullScreenWrapper {
  min-width: 100vw;
  min-height: 100vh;

  .game-sidenav {
    width: 300px;
    max-width: 80vw;
  }

  .game-sidenav-content {
    min-height: 100%;
    height: 100%;

    .game-display {
      min-height: 80vh;
      max-height: 80vh;
      min-width: 100vw;
      max-width: 100vw;
      overflow: hidden;
      position: relative;

      .boardgame {
        max-width: 1000px;
        min-width: 1000px;

        .cellGrid {
          min-width: 100px;
          max-width: 100px;
          min-height: 100px;
          max-height: 100px;
          height: 100px;
          overflow: hidden;
        }
      }
    }

    .game-controls {
      min-height: 5vh;
      height: 20vh;
      max-height: 20vh;

      background-color: teal;
      box-sizing: border-box;

      .game-controls-top-bar {
        display: flex;
        flex-direction: row;
        min-height: 5vh;
        max-height: 5vh;

        background-color: burlywood;

        .game-controls-left {
          flex: 0 0 20%;

          .contenedor-logo {
            position: absolute;
            height: 60px;
            width: 60px;
            margin-top: -30px;
          }
          background-color: rgb(190, 187, 11);
        }
        .game-controls-center {
          flex: 1 1 auto;
          text-align: center;
        }

        .game-controls-rigth {
          flex: 0 0 20%;
          background-color: rgb(190, 187, 11);

          .btn-send-turn {
            margin: 0px 10px;
            margin-top: -25px;
          }
        }
      }

      .game-controls-main {
        display: flex;
        flex-direction: row;
        min-height: 15vh;
        max-height: 15vh;

        background-color: rgb(30, 168, 53);
      }
    }
  }
}
