<mat-sidenav-container class="fullScreenWrapper">
  <mat-sidenav
    #gameRefactorySidenav
    class="game-sidenav"
    fixedInViewport="true"
    attr.role="navigation"
    mode="push"
  >
    <app-sidenav></app-sidenav>
    lateral
  </mat-sidenav>
  <mat-sidenav-content class="game-sidenav-content">
    <div class="game-display">
      <background-space class="layer-game-display"></background-space>
      <div
        class="layer-game-display"
        PanAndZoom
        (dragleave)="onDragLeave($event)"
        (dragenter)="onDragEnter($event)"
      >
        <div class="boardgameGrid">
          <app-tile-game
            (drop)="onDrop($event, t)"
            (dragover)="onDragOver($event, t)"
            *ngFor="let t of boardGame.tiles; index as i"
            [TileData]="t"
          ></app-tile-game>
        </div>
      </div>
    </div>

    <div class="game-controls">
      <div class="game-controls-top-bar">
        <div class="game-controls-left">
          <app-logo
            (click)="gameRefactorySidenav.toggle()"
            class="contenedor-logo"
          ></app-logo>
        </div>
        <div class="game-controls-center">
          <span *ngIf="stateGame == 0">
            userlogined.displayName es tu turno. Te están esperando</span
          >
          <span *ngIf="stateGame == 1">
            xWAITING. Esperando a los otros jugadores</span
          >
        </div>
        <div class="game-controls-rigth">
          <div [@slideInButtonsTurn]="stateButtons">
            <button
              mat-raised-button
              class="btn-send-turn"
              (click)="resetTurn()"
            >
              <mat-icon class="mat-24" aria-label="reset turno">undo</mat-icon>
            </button>
            <button
              mat-raised-button
              class="btn-send-turn"
              (click)="sendTurn()"
            >
              xEnviar turno
              <mat-icon class="mat-24" aria-label="enviar turno">redo</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="game-controls-main">
        <button mat-stroked-button (click)="rotateCardInHand(-90)">
          <mat-icon
            class="mat-36"
            style="transform: rotate(-90deg)"
            aria-label="-90º"
            >redo</mat-icon
          >
        </button>
        <div class="card" draggable="true" (dragstart)="startDrag($event)">
          <app-tile-game [TileData]="cardInHand"></app-tile-game>
        </div>
        <button mat-stroked-button (click)="rotateCardInHand(90)">
          <mat-icon
            class="mat-36"
            style="transform: rotate(90deg)"
            aria-label="+90º"
            >undo</mat-icon
          >
        </button>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
